.quiz-box {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
}
.answer-button {
  background-color: #0d6efd;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10px;
}

.answer-button.correct {
  background-color: #28a745; /* green */
}
.answer-button.incorrect {
  background-color: #dc3545; /* red */
}
.answer-button:disabled {
  /*opacity: 0.6;*/
  cursor: not-allowed;
}
